.text-message {
    display: flex;
    margin: 0 10px;
}

.text-message__content {
    font-size: 14px;
	line-height: 22px;
    padding: 8px 10px;
    border-radius: 4px;
    background: #fff;
}

.text-message__triangle {
    content: '';
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #fff;
    margin-top: 12px;
}

.text-message--from-self {
    flex-direction: row-reverse;
}

.text-message--from-self .text-message__content {
    background: #78cb1e;
}

.text-message--from-self .text-message__triangle {
    border-right: transparent;
    border-left: 6px solid #78cb1e;
}
